.stats-cards {
    height: 100%;
    /* background: #cccccc8c; */
    padding: 1em;
    margin: 0;
}

mat-card a {
    cursor: pointer;
    text-decoration-line: none;
}
h4{
    font-size: x-large;
}
.full-width {
    width: 100%;
}