<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="10px" class="stats-cards">
    <mat-card fxFlex="50" class="example-card">

        <mat-card-title-group>
            <mat-card-title>Seccion 1</mat-card-title>
        </mat-card-title-group>

    </mat-card>
    <mat-card fxFlex="50" class="example-card">
        <a>
        <mat-card-title-group>
            <mat-card-title>Seccion 2</mat-card-title>
        </mat-card-title-group>
    </a>
    </mat-card>
    <mat-card fxFlex="50" class="example-card">
        <a routerLink="/seguridad-de-la-informacion/accesos-y-privilegios/cambio-credenciales">
        <mat-card-title-group>
            <mat-card-title>Seccion 3</mat-card-title>
        </mat-card-title-group>
    </a>
    </mat-card>
    <mat-card fxFlex="50" class="example-card">
        <a routerLink="/seguridad-de-la-informacion/accesos-y-privilegios/cambio-credenciales">
        <mat-card-title-group>
            <mat-card-title>Seccion 4</mat-card-title>
        </mat-card-title-group>
    </a>
    </mat-card>

</div>
<!-- <ol>
    <li>
      <label id="dialog-user-name">Seleccione año de Seccion</label>
      <input for="dialog-user-name" [(ngModel)]="name">
    </li>
      <button (click)="openDialog()">Buscar</button>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol> -->
