
<mat-card>
    <form [formGroup]="editarForm" (ngSubmit)="postForm(editarForm.value)">
      <!-- <form [formGroup]="editarForm" > -->
      <div class="justi">
        <h1 class="texto1">Documento | Modificando</h1>
        <hr><br>
      </div>
      <div class="flex-container-create">
        <div class="box-create">
          <mat-form-field class="example-form-field">
            <mat-label>Nombre Documento</mat-label>
            <input matInput type="string" placeholder="Ingrese el nuevo nombre del documento" formControlName="documento" style="font-size: 26px;">
          </mat-form-field>
          <mat-form-field class="example-form-field">
            <mat-label>Descripcion</mat-label>
            <input matInput type="string" placeholder="Ingrese descripcion de la empresa" formControlName="descripcion" style="font-size: 26px;">
          </mat-form-field>
        </div>
        <div class="box-create1">
          <button type="submit" class="btn-create">Guardar</button>
        </div>
      </div>
  
    </form>
  
  
  
  
  </mat-card><br>
  