<!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="10px" class="stats-cards">
    <mat-card fxFlex="50" class="example-card">
        <a routerLink="/asfi/seccion1/documentos">
        <mat-card-title-group>
            <mat-card-title>2020</mat-card-title>
            <mat-card-subtitle>Clasificación de activos</mat-card-subtitle>
        </mat-card-title-group>
    </a>
    </mat-card>
    <mat-card fxFlex="50" class="example-card">
        <a routerLink="/asfi/seccion1/documentos">
        <mat-card-title-group>
            <mat-card-title>2021</mat-card-title>
            <mat-card-subtitle>Clasificación de activos</mat-card-subtitle>
        </mat-card-title-group>
    </a>
    </mat-card>
    <mat-card fxFlex="50" class="example-card">
        <a routerLink="/asfi/seccion1/seleccionar-year">
        <mat-card-title-group>
            <mat-card-title>2021</mat-card-title>
            <mat-card-subtitle>Clasificación de activos</mat-card-subtitle>
        </mat-card-title-group>
    </a>
    </mat-card>
    
</div> -->
<h1>AQUI ESTA FUNCIONANDO</h1>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="10px" class="stats-cards">
<mat-card fxFlex="50" class="example-card">
    <a routerLink="/asfi/seccion1/seleccionar-year">
    <mat-card-title-group>
        <mat-card-title>Seccion 1</mat-card-title>
        <mat-card-subtitle>2021</mat-card-subtitle>
    </mat-card-title-group>
</a>
</mat-card>

<mat-card fxFlex="50" class="example-card">
    <a routerLink="/asfi/seccion1/seleccionar-year">
    <mat-card-title-group>
        <mat-card-title>Seccion 2</mat-card-title>
        <mat-card-subtitle>2021</mat-card-subtitle>
    </mat-card-title-group>
</a>
</mat-card>

<mat-card fxFlex="50" class="example-card">
    <a routerLink="/asfi/seccion1/seleccionar-year">
    <mat-card-title-group>
        <mat-card-title>Seccion 3</mat-card-title>
        <mat-card-subtitle>2021</mat-card-subtitle>
    </mat-card-title-group>
</a>
</mat-card>
</div>