<div class="bg-login">
    <mat-card>
        <div class="header">
            <p class="mat-h1">Bienvenido al Sistema Infosec </p>
        </div>
        <hr>
        <div class="div-crear">
            <a (click)="openDialog()" ngClass="a_add animat" #tooltip='' matTooltip="Agregar" matTooltipPosition="left"  aria-tooltip="Button"> <mat-icon fontIcon="add" ngClass="icon_add"></mat-icon> 
            </a>
        </div> 
        <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
            <div class="nombreInput">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Usuario corporativo</mat-label>
                    <input formControlName="nombre" matInput [type]="'nombre'" placeholder="Introducir usuario corporativo" required />
                    <mat-error *ngIf="!loginForm.controls['nombre'].valid">
                        El usuario es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
            
            <button mat-flat-button color="primary">Iniciar sesión</button> 
            
        </form>
            

    </mat-card>
        
</div>