<!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="10px" class="stats-cards"> -->

<div class="jus justi">

  <a routerLink="/website/modulos/2020/Archivos">
    <div class="example-box mb" cdkDragLockAxis="y" cdkDrag>
      <span class="texto">Sección 1</span>
    </div>
  </a>
  <div class="example-box mb" cdkDragLockAxis="y" cdkDrag>
    <button mat-button (click)="openDialog()"><span class="texto">Sección 2</span> </button>
  </div>

  <div class="example-box mb" cdkDragLockAxis="y" cdkDrag>
    <button mat-button (click)="openDialog()"><span class="texto">Sección 3</span> </button>
  </div>
  <div class="example-box mb " cdkDragLockAxis="y" cdkDrag>
    <button mat-button (click)="openDialog()"><span class="texto">Sección 4</span> </button>
  </div>
  <div class="example-box mb" cdkDragLockAxis="y" cdkDrag>
    Sección 5
  </div>
  <div class="example-box mb" cdkDragLockAxis="y" cdkDrag>
    Sección 6
  </div>
  <div class="example-box mb" cdkDragLockAxis="y" cdkDrag>
    Sección 7
  </div>
  <div class="example-box mb" cdkDragLockAxis="y" cdkDrag>
    Sección 8
  </div>
  <div class="example-box mb" cdkDragLockAxis="y" cdkDrag>
    Sección 9
  </div>
  <div class="example-box mb" cdkDragLockAxis="y" cdkDrag>
    Sección 10
  </div>
  <div class="example-box mb" cdkDragLockAxis="y" cdkDrag>
    Sección 11
  </div>
  <div class="example-box mb" cdkDragLockAxis="y" cdkDrag>
    Sección 12
  </div>

</div>

    <!-- <mat-card fxFlex="50" class="example-card">

        <mat-card-title-group>
            <mat-card-title>Seccion 1</mat-card-title>
        </mat-card-title-group>

    </mat-card>
    <mat-card fxFlex="50" class="example-card">
        <a>
        <mat-card-title-group>
            <mat-card-title>Seccion 2</mat-card-title>
        </mat-card-title-group>
    </a>
    </mat-card>
    <mat-card fxFlex="50" class="example-card">
        <a>
        <mat-card-title-group>
            <mat-card-title>Seccion 3</mat-card-title>
        </mat-card-title-group>
    </a>
    </mat-card> -->

    <!-- <mat-card fxFlex="50" class="example-card">
        <a routerLink="/seguridad-de-la-informacion/accesos-y-privilegios/cambio-credenciales">
        <mat-card-title-group>
            <mat-card-title>Seccion 4</mat-card-title>
        </mat-card-title-group>
    </a>
    </mat-card> -->

<!-- </div> -->
